html {
    scroll-behavior: smooth;
}

body {
    word-spacing: -0.1rem;
}

hr.header {
    margin: 10px 0 0;
}

.terminal .logo {
    font-size: 1.5rem;
}

.logo {
    padding: 10px 0 0 0;
}

category-report {
    display: none;
}

category-piechart {
    height: 300px;
    width: 300px;
}

sl-tab-group {
    min-height: 100px;
}

.category-description {
    min-height: 200px;

}