html {
    scroll-behavior: smooth;
}

body {
    word-spacing: -0.1rem;
}

hr.header {
    margin: 10px 0 0;
}

.terminal .logo {
    font-size: 1.5rem;
}

.logo {
    padding: 10px 0 0 0;
}

category-report {
    display: none;
    margin-top: 20px;
}