html {
    scroll-behavior: smooth;
}

body {
    word-spacing: -0.1rem;
}

hr.header {
    margin: 10px 0 0;
}

.terminal .logo {
    font-size: 1.5rem;
}

.standard-margin-bt {
    margin-bottom: var(--global-margin);
}

.logo {
    padding: 10px 0 0 0;
}

.rule-details::part(base) {
    background: var(--sl-color-neutral-0);
    border: solid 1px tomato;
    max-height: 200px;
}

.report-grid {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: auto;
    height: 65vh;
}

result-grid {
    border-left: dashed 1px var(--secondary-color);
    margin-left: var(--global-margin);
    padding-left: var(--global-padding);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
}

category-report {
    /*grid-column-gap: 1.4em;*/
    /*grid-template-columns: 9fr 3fr;*/
    /*grid-template-rows: 5fr 5fr;*/
    display: none;
    //grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    //grid-auto-rows: minmax(100px, auto);


}

category-rules {
    max-height: 200px;
}

violation-drawer {
    border-top: dashed 1px var(--secondary-color);
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}




category-rules {
    grid-column: 1;
    grid-row: 1;
}

#category-description {
    border-top: dashed 1px var(--secondary-color);
    margin-top: 20px;
    padding-top: 20px;
    font-size: var(--sl-font-size-x-small);
}

sl-tab-group {
    min-height: 100px;
}


category-piechart {
    margin-right: 20px;
}

/*category-rule-result {*/
/*    width: 100vw*/
/*}*/

/*.category-description {
    /*min-height: 200px;*/
    /*width: 20vw;*/
    /*padding-left: 20px;*/
    /*border-left: dashed 1px var(--secondary-color);*/
    /*font-size: var(--sl-font-size-small);*/

/*}*/

/*category-rules {*/
/*    flex-grow: 2;*/
/*    min-height: 300px;*/
/*    max-height: 300px;*/
/*    height: 300px;*/
/*    overflow-y: auto;*/
/*    max-width: 65vw;*/
/*}*/




.report-statistics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: space-between;
}

.report-statistics sl-card {
    max-width: 300px;
}

.report-statistics table td, table th {
    vertical-align: top;
    border: none;
    line-height: var(--global-line-height);
    padding: calc(var(--global-space)/ 2);
    font-size: 0.9em;
}



.report-statistics table {

    display: table;
    border-collapse: collapse !important;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 0;
    border-color: transparent!important;

    max-width: 200px;
    width: fit-content;
    margin: 0 0 0 10px;
    font-size: var(--sl-font-size-small);
}

.report-statistics table,tbody,td,tr {

}

.report-statistics table td {
    font-size: var(--sl-font-size-x-small);
}


.report-statistics table tbody td:first-child {
    text-align: right;
}

.quality {
    color: var(--sl-color-success-500);
    font-size: var(--sl-font-size-2x-large);
    text-align: center;
    padding: 20px;
}



