<html lang="en">
{{- template "header" . -}}
<body class="terminal">
<div class="container">
    <section class="terminal-nav">
        <header class="terminal-logo">
            <div class="logo">
                <a href="https://quobix.com/vacuum" class="no-style">vacuum</a>
            </div>
        </header>
    </section>
</div>
<hr class="header"/>
<div class="container">
    <rule-category-navigation  id='rule-category-nav' default='all'>
    {{- with .RuleCategories -}}
        {{- range . }}
        <rule-category-button name="{{ .Id }}">{{ .Name }}</rule-category-button>
        {{- end }}
    {{- end }}
    </rule-category-navigation>
</div>

{{- if not .TestMode -}}
<script>
    {{ .HydrateJS }}
</script>
{{- else -}}
<script src="http://localhost:8080/js/hydrate.js"></script>
{{- end -}}
</body>
<div class="container">
{{- template "footer" . -}}
</div>
</html>


