<!DOCTYPE html>
<html lang="en" class="sl-theme-dark">
{{- template "header" . -}}
<body class="terminal">
<div class="container vacuum-container">
    <section class="terminal-nav">
        <header class="terminal-logo">
            <div class="logo">
                <a href="https://quobix.com/vacuum" class="no-style">vacuum</a>
            </div>
        </header>
        <div class="generated">Report Generated: {{ timeGenerated .Generated }}</div>
        {{- if gt .Statistics.TotalErrors 0 -}}
        <header-statistic value='{{ .Statistics.TotalErrors }}' label='Errors' preset='error-count'></header-statistic>
        {{- end -}}
        {{- if gt .Statistics.TotalWarnings 0 -}}
        <header-statistic value='{{ .Statistics.TotalWarnings }}' label='Warnings' preset='warning-count'></header-statistic>
        {{- end -}}
        {{- if gt .Statistics.TotalInfo 0 -}}
            <header-statistic value='{{ .Statistics.TotalInfo }}' label='Informs' preset='info-count'></header-statistic>
        {{- end -}}
        <header-statistic value='{{ .Statistics.OverallScore }}' percentage=true label='Quality Grade'></header-statistic>
    </section>
    <hr class="header-divider"/>
    <html-report>
        <section class="report-grid" slot="navigation">
            <nav>
                <rule-category-navigation default="all">
                {{- with .RuleCategories -}}
                {{- range . }}
                    <rule-category-link name="{{ .Id }}" description="{{ .Description }}">
                        {{ .Name }}
                    </rule-category-link>
                {{- end }}
                {{- end }}
                </rule-category-navigation>
                <section id="category-description">
                </section>
            </nav>
            <result-grid slot="reports">
                {{- $allResults := .RuleResults -}}
                {{- $specString := .SpecString -}}
                {{- $maxViolations := .MaxViolations -}}
                {{- with .RuleCategories -}}
                {{- range . }}
                <category-report slot="violation" id="{{ .Id }}">
                    {{- $ruleResults := extractResultsForCategory .Id $allResults -}}
                    <category-rules id="{{ .Id }}">
                    {{- with $ruleResults.RuleResults -}}
                    {{- range . }}
                        {{- $howToFixRule := .Rule.HowToFix -}}
                        <category-rule maxViolations="{{ $maxViolations }}"
                                       totalRulesViolated="{{ len $ruleResults.RuleResults }}"
                                       ruleIcon="{{ ruleSeverityIcon .Rule.Severity }}" ruleId="{{ .Rule.Id }}"
                                       description="{{ .Rule.Description }}" numResults={{ .Seen }} {{ if .Truncated }}truncated=true{{end}}>
                            {{- with .Results -}}
                            {{- range . }}
                            <category-rule-result howToFix="{{ $howToFixRule }}" slot="results" message="{{ .Message }}" ruleId="{{ .Rule.Id }}" startLine='{{ .StartNode.Line }}' startCol='{{ .StartNode.Column }}' endLine='{{ .EndNode.Line }}' endCol='{{ .EndNode.Column }}' path="{{ .Path }}">
                                {{- renderSource . $specString -}}
                            </category-rule-result>
                            {{- end -}}
                            {{- end -}}
                        </category-rule>
                    {{- end -}}
                    {{- end -}}
                    </category-rules>
                </category-report>
                {{- end }}
                {{- end }}
                <violation-drawer slot="details"></violation-drawer>
            </result-grid>
        </section>
    </html-report>
</div>
<div class="container">
{{- template "footer" . -}}
</div>
</body>
</html>