<html lang="en">
{{- template "header" . -}}
<body class="terminal">
<div class="container">
    <section class="terminal-nav">
        <header class="terminal-logo">
            <div class="logo">
                <a href="https://quobix.com/vacuum" class="no-style">vacuum</a>
            </div>
        </header>
        <nav class="terminal-menu">
            <ul vocab="https://schema.org/" typeof="BreadcrumbList">
                <li property="itemListElement" typeof="ListItem">The world's fastest OpenAPI parser</li>
            </ul>
        </nav>
    </section>
</div>
<hr class="header"/>
<div class="container">
    <rule-category-navigation></rule-category-navigation>
</div>
</body>
{{- template "footer" . -}}
</html>

