name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v3
        with:
          go-version: 1.21
        id: go

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Check go mod tidy is up to date
        run: go mod tidy && git diff --exit-code

      - name: Get dependencies
        run: |
          go get -v -t -d ./...
          if [ -f Gopkg.toml ]; then
              curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
              dep ensure
          fi
      - name: Test
        run: go test ./...
      - name: Build
        run: make build

  build-report-ui:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node-version: [ 16.x ]
    steps:
      - uses: actions/checkout@v3
        name: Checkout repository

      - name: setup node ${{matrix.node-version}}
        uses: actions/setup-node@v3
        with:
          node-version: ${{matrix.node-version}}

      - name: Install yarn
        run: yarn install
        working-directory: html-report/ui

      - name: Build
        run: yarn build
        working-directory: html-report/ui

      - name: Test
        run: yarn test
        working-directory: html-report/ui

      - name: Lint
        run: yarn lint
        working-directory: html-report/ui
